<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.byhook.module.immersion">

    <application>
        <activity
            android:name="io.github.byhook.module.pages.ImmersionActivity"
            android:theme="@style/AppNoActionBarTheme" />
    </application>
</manifest>
