<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handy.module.network">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.handy.module.debug.NetworkActivity" />
    </application>

</manifest>
